{% extends "base.html" %}
{%load static%}

{% block title %}
<title>Chat Room: {{room_name}}</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'room/css/chat.css' %}"/>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
      <div class="col-12">
        <div class="card" style="height: 85vh">
          <div class="card-body d-flex flex-column h-100">
          <div id="chat-log" style="flex-grow: 1; overflow-y: auto;">
          </div> 
          <div class="input-group">
              <input type="text" id="chat-message-input" class="form-control" placeholder="Connecting...." disabled>
              <button class="btn btn-outline-secondary" id="chat-message-submit" type="button" disabled>Send</button>
          </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'room/js/utils.js' %}"></script>
  <script>
    const existingMessage = JSON.parse("{{messages|escapejs}}")
    const userId = "{{user.id}}";
    const roomName = "{{room_name}}";
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );
    
    $(document).ready(function(){
      // Load previous messages
      for(let i = 0; i < existingMessage.length; i++) {
        const newMessageNode = createMessageElement( existingMessage[i].message, existingMessage[i].id, userId);
        $("#chat-log").append(newMessageNode);
      }
      $("#chat-log").animate({ scrollTop: $('#chat-log').prop("scrollHeight")}, 1000);
    });
    chatSocket.onopen = function(e) {
        //Enabled input field and button when websocket connection is established
        $('#chat-message-input').attr("disabled", false);
        $('#chat-message-input').attr("placeholder", "Message");
        $('#chat-message-submit').attr("disabled", false);
    }
  
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const newMessageNode = createMessageElement(data.message, data.id, userId);
  
        $("#chat-log").append(newMessageNode);
        $("#chat-log").animate({ scrollTop: $('#chat-log').prop("scrollHeight")}, 1000);
    };
  
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
  
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
  
    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'user_id': userId
        }));
        messageInputDom.value = '';
    };
  </script>  
{% endblock %}
