{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container p-5" style="margin-top: auto; margin-bottom: auto;">
        <div class="col-5" style="margin:auto">
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" data-mdb-toggle="pill" href="{% url 'login' %}"
                    aria-controls="pills-login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" data-mdb-toggle="pill" href="{% url 'register' %}"
                    aria-controls="pills-register" aria-selected="false">Register</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        Your username and password didn't match. Please try again.
                    </div>
                {% endif %}
                  <form action="{% url 'login'%}" method="POST">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <label class="form-label" for="loginName">Username</label>
                      <input type="text" id="loginName" name="username" class="form-control" />
                    </div>
              
    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="loginPassword">Password</label>
                      <input type="password" id="loginPassword" name="password" class="form-control" />
                    </div>
      
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                   
                    <div class="text-center">
                      <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
                    </div>
                  </form>
                </div>
              </div>
        </div>
    </div>
    
</div>
{% endblock %}